@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g3n1en');
  src:  url('fonts/icomoon.eot?g3n1en#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?g3n1en') format('truetype'),
  url('fonts/icomoon.woff?g3n1en') format('woff'),
  url('fonts/icomoon.svg?g3n1en#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
 font-family: serif,icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ev_station:before {
  content: "\e900";
}
.icon-alipay-recharge:before {
  content: "\e901";
  color: #00a9ee;
}
.icon-charger-16A:before {
  content: "\e902";
  color: #54bcf9;
}
.icon-charger-32A:before {
  content: "\e903";
  color: #54bcf9;
}
.icon-charger-filter:before {
  content: "\e904";
}
.icon-charger-id:before {
  content: "\e905";
  color: #54bcf9;
}
.icon-charger-position:before {
  content: "\e906";
}
.icon-charger-search:before {
  content: "\e907";
}
.icon-charger-status-charging:before {
  content: "\e908";
}
.icon-charger-status-idle:before {
  content: "\e909";
}
.icon-charger-status-offline:before {
  content: "\e90a";
}
.icon-charging-bluetooth:before {
  content: "\e90b";
  color: #f60804;
}
.icon-charging-energy:before {
  content: "\e90c";
}
.icon-charging-scan:before {
  content: "\e910";
  color: #ff8d00;
}
.icon-charging-service:before {
  content: "\e911";
  color: #54bcf9;
}
.icon-charging-status:before {
  content: "\e912";
  color: #8affb5;
}
.icon-company-logo .path1:before {
  content: "\e913";
  color: rgb(255, 255, 255);
}
.icon-company-logo .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 147, 221);
}
.icon-company-logo .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 147, 221);
}
.icon-company-logo .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 147, 221);
}
.icon-company-logo .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 147, 221);
}
.icon-login-password:before {
  content: "\e918";
}
.icon-login-phone:before {
  content: "\e919";
}
.icon-login-qq:before {
  content: "\e91a";
}
.icon-login-wechat:before {
  content: "\e91b";
}
.icon-modal-close:before {
  content: "\e91c";
  color: #54bcf9;
}
.icon-modal-warning .path1:before {
  content: "\e91d";
  color: rgb(34, 32, 33);
}
.icon-modal-warning .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(252, 242, 7);
}
.icon-modal-warning .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(34, 32, 33);
}
.icon-modal-warning .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(34, 32, 33);
}
.icon-recharge-clock:before {
  content: "\e921";
}
.icon-recharge-record:before {
  content: "\e922";
}
.icon-recharge-success:before {
  content: "\e923";
}
.icon-refresh-ui:before {
  content: "\e924";
}
.icon-user-account:before {
  content: "\e925";
  color: #9aa6d6;
}
.icon-user-advice:before {
  content: "\e926";
  color: #1da3ac;
}
.icon-user-help:before {
  content: "\e927";
  color: #faac52;
}
.icon-user-info-name:before {
  content: "\e928";
}
.icon-user-info-phone:before {
  content: "\e929";
}
.icon-user-money:before {
  content: "\e92a";
  color: #f88290;
}
.icon-user-recharge:before {
  content: "\e92b";
  color: #bc58d8;
}
.icon-user:before {
  content: "\e92c";
}
.icon-wechat-recharge:before {
  content: "\e92d";
  color: #84c225;
}
.icon-withdraw-cash:before {
  content: "\e92e";
  color: #f88290;
}
